services:
  backend:
    build:
      context: /home/gustavo/IdeaProjects/PlanoDeSaude/GuiaMedicosBack/
      dockerfile: Dockerfile
    ports:
      - "8017:8080"
    networks:
      - bases_network_externa
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql_aval_bases:3306/guia_medicos
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root

  front:
    build:
      context: /home/gustavo/IdeaProjects/PlanoDeSaude/guia-medicos-front/
      dockerfile: Dockerfile
      args:
        BACKEND_URL: http://backend:8080  # Passar durante o build
    environment:
      - BACKEND_URL=http://backend:8080
      - NEXT_PUBLIC_BACKEND_URL=http://backend:8080/api
    ports:
      - "3006:3000"
    networks:
      - bases_network_externa

networks:
  bases_network_externa:
    external: true
    name: avaliacaobases_back_bases_network